.columns {
  margin-top: 20px;
}

@font-face {
  font-family: Besom;
  src: url('font/Besom.ttf');
}

#logo-font {
  font-family: Besom;
}

.hidden {
  display: none;
}

.btn-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.card > img {
  width: 100%;
  height: auto;
}

.col-sm-4 > .card > img {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.badge {
  position: absolute;
  right: 20px;
}

select {
  margin-right: 10px;
}

.checkout-product > h4 {
  margin-left: 20px;
}

.checkout-image > img {
  margin-left: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
}

.checkout-items {
  margin-top: 10px;
}
